<ion-view>
<ion-nav-bar class="bar bar-dark bar-header theme-header">
	<ion-nav-back-button class="button-icon button-clear ion-ios-arrow-left"></ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button 
          class="button button-icon button-clear" menu-toggle="left">
          <svg width="22" height="40">
              <path stroke="#fff" d="M0,10 22,10" stroke-width="3"></path>
              <path stroke="#fff" d="M0,19 12,19" stroke-width="3"></path>
              <path stroke="#fff" d="M0,28 22,28" stroke-width="3"></path>
          </svg>
      </button>
    </ion-nav-buttons>
	<ion-nav-title><h1 class="title">Appointment</h1></ion-nav-title>
</ion-nav-bar>
<ion-content class="light_grey_bg">
	
    <div class="service-showcase">
    	<div class="image" style="background-image:url('{{selectedService.image}}');">
        	<div class="name">{{selectedService.services_name}}</div>
        </div>
        <div class="description">
        	 <h4>
             	<strong>Duration : </strong>
             	<span ng-if="selectedService.duration_hour">{{selectedService.duration_hour}} hr</span> 
                <span ng-if="selectedService.duration_min != '00'">{{selectedService.duration_min}} min</span>
             </h4>
	        <p ng-bind-html="selectedService.description"></p>
        </div>
    </div>
    
    <div class="grey_bg">
        <form class="contact-form" name="projectForm">
            <label class="group-label">Book Your Appointment Now</label>
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" ng-model="booking.date" name="booking.date" placeholder="Select Booking Date" />
                </label>
                <button class="button button-dark button-small theme-btn ion-android-calendar" ng-click="openDatePicker()"></button>
            </div>
            
            <label class="item-radio-label">State</label>
    		<md-select ng-model="kyc.country">
                <md-option ng-value="v" data-ng-repeat="(k,v) in states">
                    {{ v }}
                </md-option>
            </md-select>
            
            <!--{{kyc.country }}
            <div ng-repeat="c in centers | filter : kyc.country">{{c}}</div>-->
            
            
            <label class="item-radio-label">Select Center *</label>
            <md-select ng-model="booking.center_name">
                <md-option ng-value="t.id" data-ng-repeat="t in centers | filter : kyc.country">
					{{ t.centers_name }}
                </md-option>
            </md-select>
            
            <label class="item-radio-label">Booking Slot</label>
    		<md-select ng-model="booking.slot">
                <md-option ng-value="1">7:00 - 7:30 AM</md-option>
                <md-option ng-value="2">7:30 - 8:00 AM</md-option>
                <md-option ng-value="3">8:00 - 8:30 AM</md-option>
                <md-option ng-value="4">8:30 - 9:00 AM</md-option>
                <md-option ng-value="5">9:00 - 9:30 AM</md-option>
                <md-option ng-value="6">9:30 - 10:00 AM</md-option>
                <md-option ng-value="7">10:00 - 10:30 AM</md-option>
                <md-option ng-value="8">10:30 - 11:00 AM</md-option>
                <md-option ng-value="9">11:00 - 11:30 AM</md-option>
                <md-option ng-value="10">11:30 - 12:00 AM</md-option>
                <md-option ng-value="11">12:00 - 12:30 PM</md-option>
                <md-option ng-value="12">12:30 - 1:00 PM</md-option>
                <md-option ng-value="13">1:00 - 1:30 PM</md-option>
                <md-option ng-value="14">1:30 - 2:00 PM</md-option>
                <md-option ng-value="15">2:00 - 2:30 PM</md-option>
                <md-option ng-value="16">2:30 - 3:00 PM</md-option>
                <md-option ng-value="17">3:00 - 3:30 PM</md-option>
                <md-option ng-value="18">3:30 - 4:00 PM</md-option>
                <md-option ng-value="19">4:00 - 4:30 PM</md-option>
                <md-option ng-value="20">4:30 - 5:00 PM</md-option>
                <md-option ng-value="21">5:00 - 5:30 PM</md-option>
                <md-option ng-value="22">5:30 - 6:00 PM</md-option>
                <md-option ng-value="23">6:00 - 6:30 PM</md-option>
                <md-option ng-value="24">6:30 - 7:00 PM</md-option>
                <md-option ng-value="25">7:00 - 7:30 PM</md-option>
                <md-option ng-value="26">7:30 - 8:00 PM</md-option>
            </md-select>

            <!--<div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" ng-model="booking.center_name" name="booking.center_name" placeholder="Select Booking Center" />
                </label>
                <button class="button button-dark button-small theme-btn ion-ios-location" modal-select="" 
					ng-model="option"
                    options="centers" 
                    modal-title="Select Center"
                    has-search="true"
                    on-select="selectCenter(newValue, selectedService.store)">
                    <div class="option">{{option.centers_name}}</div>
                </button>
            </div>-->
            <button 
                class="button button-block button-dark theme-btn icon ion-android-done-all" 
                type="button" 
                ng-click="submitBooking()">&nbsp; Book Now</button>
        </form>
    </div>
</ion-content>
</ion-view>
